//----------- Datos del archivo -----------
//    
//  Archivo que contiene las variables del proyecto
//
//  Autor: Arancha Cores López
//  Fecha: 09-10-2024
//  Nombre: _iconos.scss
//
//-------------------- * * * --------------------



//--------- Esquema colores ----------
$color-mas-oscuro: #125e52;
$color-oscuro: #306f5b;
$color-base: #93ad8b;
$color-claro: #dee1c2;
$color-mas-claro: #eaebd7;
$color-blanco: #fffefe;
$color-negro: #333;
$color-deshabilitado: #e0e5df;
$color-error: #dd0b0b;
$color-complementario: #5e121e;


//--------- Fuentes ---------
$fuente-titulos: "Martel", serif;
$fuente-subtitulos: "Mulish", sans-serif;
$fuente-texto: "Varela", sans-serif;

$border-radius: 10px;