//-------------------- * * * --------------------
//
//  Archivo css que contiene los estilos de la página vendimia
//
//  Autor: Arancha Cores López
//  Fecha: 1-11-2024
//  Nombre: _vendimia.scss
//
//-------------------- * * * --------------------

//Archivo de las variables
@use "variables";

//Archivo de mixins
@use "mixins";

/*---------- Estilos de la página vendimia ----------*/
#contenido.vendimia {
    .secciones {
        section {
            &#normativa {
                background-color: transparent;
                padding: 0;

                div {
                    max-height: 50vh;
                    overflow-y: scroll;
                }

                .tabla {
                    border-radius: variables.$border-radius;

                    table {
                        tr {
                            &:first-child {
                                background-color: variables.$color-base;
                            }

                            &:last-child {
                                background-color: variables.$color-blanco;
                            }
                        }
                    }
                }

                > div {
                    &:last-child {
                        @include mixins.secciones;
                        @include mixins.flexDirection(column);
                        gap: 2rem;

                        div {
                            @include mixins.flexDirection(column);
                            gap: 1rem;

                            ul {
                                @include mixins.flexDirection(column);
                                gap: 1rem;
                            }
                        }
                    }
                }
            }

            &#mostrarAlbaranes {
                background-color: transparent;
                padding: 0;

                > div {
                    @include mixins.secciones;

                    &:first-child {
                        @include mixins.flexDirection(column);
                        gap: 2rem;

                        > div {
                            width: 100%;
                            max-height: 20vh;

                            &:first-child {
                                @include mixins.flexDirectionJustify(row, space-between);
                            }
                        }
                    }
                }
            }

            &#consultaAlbaranes {
                background-color: transparent;
                border-radius: 0;
                padding: 0;

                > div {
                    &:first-child {
                        @include mixins.secciones;

                        @include mixins.mediaQueries(550px) {
                            flex-wrap: wrap;
                        }

                        #formularioConsultaAlbaranes {
                            flex-direction: row;

                            @include mixins.mediaQueries(550px) {
                                order: 1;
                            }
                        }

                        button {
                            order: 0;
                            width: 20%;

                            @include mixins.mediaQueries(550px) {
                                width: 100%;
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    &#mostrarAlbaranes {
                        display: none; //Cambiamos a flex con JavaScript ($("#formularioConsultaAlbaranes").submit --> index.js)
                        flex-direction: column;
                        gap: 2rem;

                        > div {
                            @include mixins.secciones;

                            &:first-child {
                                @include mixins.flexDirection(column);
                                gap: 1rem;

                                > div {
                                    &:first-child {
                                        @include mixins.flexJustifyAlign(space-between, center);
                                    }
                                }
                                .tabla {
                                    flex-grow: 1;
                                    height: 24vh;
                                }

                                #btnBorrarAlbaranes {
                                    width: 20%;

                                    @include mixins.mediaQueries(1300px) {
                                        width: 30%;
                                    }

                                    @include mixins.mediaQueries(900px) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#consultaRecolectas {
                .botones {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}
