/*-------------------- * * * --------------------

  Archivo css que contiene los estilos de la aplicación
  
  Autor: Arancha Cores López
  Fecha: 09-10-2024
  Nombre: base.scss

-------------------- * * * --------------------*/

//Archivo de las importaciones de otros archivos
@use 'importaciones';

//Archivo de los iconos
@use 'iconos';

//Archivo de los estilos generales
@use 'estilosGenerales';

//Archivo que contiene el login
@use 'login';

//Archivo que contiene la cabecera
@use 'cabecera';

//Archivo que contiene el contenido del sitio
@use 'contenido';

//Archivo que contiene el pié de página
@use 'piePagina';

