/*-------------------- * * * --------------------

  Archivo css que contiene las importaciones de los archivos de estilos que componen el proyecto
  
  Autor: Arancha Cores López
  Fecha: 09-10-2024
  Nombre: base.scss

-------------------- * * * --------------------*/

//Archivo de los iconos
@use 'iconos';

//Archivo de los estilos generales
@use 'estilosGenerales';

//Archivo que contiene el login
@use 'login';

//Archivo que contiene la cabecera
@use 'cabecera';

//Archivo que contiene el contenido del sitio
@use 'contenido';

//Archivo que contiene el pié de página
@use 'piePagina';


//Archivos de fuentes
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

